<h5><%= @topic.title %></h5>

<div class="input-field">
    <textarea class="materialize-textarea"></textarea>
    <button class="btn">Add Comment</button>
</div>

<ul class="collection"></ul>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        createSocket(<%= @topic.id %>)
    })
</script>